#maiores-pontuacoes-page {
    display: flex;
    flex-direction: column;
}

.mp-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 71.6vh;
}

.mp-content img {
    margin-right: 50px;
}

.mp-content table {
    color: #F45B24;
}

.mp-content table tbody, .mp-content table td, .mp-content table th {
    border: none;
}

.mp-content .points {
    text-align: center;
}