.navbar {
    padding: 0;
}

.navbar .container {
    padding: 0;
}

.navbar button {
    display: block;
    padding: 0;
    font-size: var(--bs-nav-link-font-size);
    color: #c7c8c9;
    font-weight: 400;
}

.navbar button:hover {
    color: #c7c8c9;
    text-decoration: underline;
}