#ver-partidas-page {
    display: flex;
    flex-direction: column;
}

.vp-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 71.6vh;
}

.vp-content img {
    margin-right: 50px;
}

.vp-content table {
    color: #F45B24;
}

.vp-content table tbody, .vp-content table td, .vp-content table th {
    border: none;
}

.vp-content table td .action {
    border: 0;
    padding: 0.2rem;
    margin-right: 0.2rem;
    align-items: center;
    display: inline-block;
    transition: 0.4;
}

.vp-content table td .action:hover {
    transform: scale(1.125);
}

.vp-content table td .action svg {
    vertical-align: middle;
}

.vp-content .points {
    text-align: center;
}