.match-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.match-modal .container {
    position: fixed;
    max-height: 53vh;
    overflow-y: auto;
    max-width: 600px;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5rem 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.close {
    background-color: #F65835;
    border: 0;
    color: #FFF;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    border-radius: 5px;
}

.close svg {
    margin-right: 5px;
}

.match-modal h2{
    margin-bottom: 1.2em;
    font-size: 2em;
    text-align: justify;
}

.modal-row {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.modal-row .data {
    color: #000;
}

.modal-row button {
    font-weight: 600;
}

.confirmation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.confirmation-btn {
    padding: 10px;
    border-radius: 12px;
    transition: 0.4;
}

.confirmation-btn:hover {
    transform: scale(1.125);
}

.confirm {
    border: none;
    background-color: #B20600;
    color: #fff;
}

.decline {
    border: 1px solid #B20600;
    color: #B20600;
    background-color: #fff;
}